
@{
    ViewBag.Title = "Design";
}

<h2>Design</h2>
<p>
    <b>At Price & Price Building Ltd</b>, we deal with the entire design and application process for your house extension, loft conversion or new build home. We ensure that your ideas are brought to life through thorough consultation and effective communication; leaving you with nothing to worry about other than how fantastic it will be to live in your dream home.



    We understand that it’s not always easy to explain your ideas over the phone, therefore we also offer a free consultation at your property. This ensures that your house extension ideas are physically possible and considers the likelihood of obtaining local authority approval. It also provides the opportunity for us to make suggestions, based on our knowledge and experience.
</p>
<div style="text-align:center">
    <img src="~/Content/Images/DesignPic.png" />
</div>

