@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <img src="~/Content/Images/Logo.png" />
    <h2>Welcome</h2>
</div>

<div class="row" style="text-align:justify">
    <div class="col-md-6">
        <p>
            20 years of experienced has only furthered and reinforced what Price & Price strives for as being leading designers and builders within the industry, fuelled by a passion for promoting unique and distinct designs, accommodating the most minute needs.



            Our essence for design, is to meet the aspirational desires and lifestyles of our clients, by providing high quality and specific comprehensive services, varying from: kitchen fitting, exterior renovation and extensive interior remoulding, due to our vast range of mastered skill and expertise in many diverse areas.



            Our passion is shown throughout all builds and is consistent due to our reliable and precise ethos, which demands smart consultation and application of skills. By utilising our ability we’re continuously improving and reaching high levels of individualism and style, to develop unique builds which are unlike others.
        </p>
    </div>
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gAVlSrYrFhk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

