
@{
    Session.Abandon();
    ViewBag.Title = "Logout";
}

<div class="row" style="text-align:center">
    <h3>You have successfully logged out</h3>

    <h3>Click <a href="~/Home/Index">HERE</a> to return to the homepage</h3>
</div>
