
@{
    ViewBag.Title = "Reference";
}

<h2>References</h2>

<h3>Reference 1</h3>
<p>More than happy with the work Price and Price did and delighted with the transformation it's made to our house. Shaun is always willing to listen to any concerns and act promptly upon them. Not that we had many, the work was carried out quickly and only a few days beyond schedule (our fault anyway for asking for extra stuff). I'm going to be honest, I miss having these fellas around, on another plus side though I'm not going through as much Sugar since they left. Cheers Shaun and gang!</p>
<p><b>Steve Royle</b></p>

<hr/>

<h3>Reference 2</h3>
<p>I would highly recommend Price and Price builders. 6 years ago we employed them to block up our lounge/diner and open up the kitchen diner. As well as replace the kitchen. Shaun came to have a look. Took our ideas on board and made some suggestions of his own. His quote was very competive. Once the work began his team were professional and hard working. Shaun was on hand to deal with any questions along the way. We were thrilled with the results. Which is why when we decided to replace the existing conservatory with an extension we didn’t hesitate to get back in touch with Price and Price. Again Shaun offered his expertise to enhance our ideas. His team were fantastic again and the work is of exceptional quality. We are thrilled with the difference this extension has made to our house. We would highly recommend Price and Price to anyone, and will definitely be using them again in the future</p>
<p><b>Joanne Croasdale</b></p>

<hr />

<h3>Reference 3</h3>
<p>
    We first met Shaun of Price and Price over a year before our extension started, he was that busy, that in itself speaks volumes as to how good they are!

    He was very professional, added extra ideas to the architect's drawings, which turned out to be some of the best features of our extension.

    The tradesmen he employs were all of a high standard and pleasant to be around. An important consideration when they are with you for 3 months! The finished extension has exceeded our expectations! It is stunning! Would not hesitate to recommend Shaun Price to anyone considering renovations. Keep up the great work Shaun!
</p>
<p><b>Cheril ID</b></p>

<hr />

<h3>Reference 4</h3>
<p>
    Shaun and the team recently completed a two storey extension on our home which has created a Large, open plan, family kitchen dining area with bi-fold doors. The results have been amazing and we love the modern space and feel that this has given our traditional 1930s semi-detached house the space we needed.



    Due to the tight timescales and additional implications of living in a rented property during the build, we needed a team of trustworthy, reliable builders and tradesmen to see the project through with us. We had paid for an independent architect to design and create the plans and therefore it was vital that we trusted our builder to replicate this for us.



    We had never embarked on anything like this before and therefore didn’t really know how to choose the “right builder”. We had contacted various local firms to get an idea of costs; some firms got back to us with quotes and other firms were slow to communicate which isn’t a good sign when you need to communicate daily with someone. We contacted Price and Price Building ltd following browsing at their work on their website and contacted Shaun to meet and discuss our plans.



    Price and price ltd did everything they said they would do from our first contact with them. Shaun met with us on site and discussed the plans in depth, giving us a much time as we needed. He was able to look at the property and advise us on what was feasible within our budget. He presented as professional at all times and gave us time to consider the quote which was provided within a week of  meeting him. The quote was detailed and fully outlined everything we had asked for in the first meeting. Shaun worked with us in order to make adjustments to fit with our budget whilst retaining the quality and look we wanted.



    We liked Shaun and trusted him from the start. We knew that he understood what we were visualizing. Once the build commenced Shaun and the team were always on site early. They were always happy for us to visit the site and see how work was progressing. They worked safely and gave lots of consideration to our elderly and disabled neighbours and took time to speak with them daily to alleviate any of their anxieties.  Again, having a calm person around helped reduce some of the stress which a building project can have. They were always available when we needed to ask questions or check things out.



    The work progressed at a good pace and met all the deadlines we were given from the onset. Shaun has a fabulous team of trusted tradesmen from roofers, plasterers, a joiner, electrician and plumbers and seems to run a tight ship; everything that needed doing got done to a high quality and on time. We would totally recommend Shaun and the team at Price and Price Building ltd….a great Chorley based family firm of builders.





    Thank you for making our home amazing; we love it!
</p>
<p><b>Colin, Rachel and Archie Bleasdale</b></p>

