
@{
    ViewBag.Title = "Welcome";
}
<br/>

<div class="row" style="text-align:center;">
    <div class="jumbotron" style="text-align:center">
        <img src="~/Content/Images/Logo.png" />
        <h2>Welcome</h2>
    </div>
    <h3>Welcome to Price and Price ltd</h3>

    <h3>Please press <a href="~/Home/Index">HERE</a> to return home</h3>
</div>
