@model FYP.ViewModels.TestVM

@{
    ViewBag.Title = "playtime";
}

<h2>playtime</h2>

<div>
    <h4>TestVM</h4>
    <hr />
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
